@font-face {
    font-family: 'Basier Regular';
    src: url('fonts/basiersquare-regular-webfont.ttf');
}

@font-face {
    font-family: 'Basier Medium';
    src: url('fonts/basiersquare-medium-webfont.ttf');
}

@font-face {
    font-family: 'Basier Semibold';
    src: url('fonts/basiersquare-semibold-webfont.ttf');
}

@font-face {
    font-family: 'Basier Bold';
    src: url('fonts/basiersquare-bold-webfont.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Basier Regular';
    list-style: none;
}

body {
    overflow-x: hidden;
}

header {
    padding: 16px 16px 0;
}

nav {
    position: relative;
}

/* .nav-overlay {
    width: 120px;
    height: 100%;
    right: 0;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
} */

nav ul {
    display: flex;
    gap: 8px;
    padding: 16px;
    overflow: scroll;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav ul::-webkit-scrollbar {
    display: none;
}

nav ul li {
    padding: 8px 12px;
    color: #030303;
    background-color: #F2F2F2;
    font-family: 'Basier Medium';
    border-radius: 40px;
    font-size: 12px;
    white-space: nowrap;
}

.hero {
    height: 400px;
    position: relative;
}

.hero-overlay {
    height: 400px;
    width: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.hero-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    bottom: 32px;
    left: 24px;
    color: white;
    z-index: 1;
}
.hero-info h2 {
    font-family: 'Basier Bold';
    font-size: 24px;
    line-height: 29px;
}

/* swiper-container {
    width: 100%;
    height: 400px;
    position: relative;
} */

.hero img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

/* span.swiper-pagination-bullet {
    background-color: #fff !important;
}

:host {
    --swiper-theme-color: #fff !important;
}

span.swiper-pagination-bullet-active {
    background-color: #fff !important;
} */

.plan-collection {
    margin-top: 40px;
}

.collection-title {
    margin-bottom: 16px;
    color: #E5105D;
    font-family: 'Basier Semibold';
    padding-left: 16px;
    font-size: 20px;
}

/* .collection-title::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 16px;
    margin: 0 2px -1px 0;
    background: rgb(255, 204, 0);
} */

.collection-group {
    display: flex;
    gap: 16px;
    padding-right: 16px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.collection-group::-webkit-scrollbar {
    display: none;
}

.collection-card {
    width: 35vw;
    text-decoration: none;
}

.collection-card:first-child {
    margin-left: 16px;
}

.card-image {
    height: 35vw;
    width: 35vw;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;

}

.card-title {
    font-size: 14px;
    color: #030303;
    font-family: 'Basier Semibold';

}

@media (min-width: 900px) {
    nav {
        display: none;
    }

    .hero {
        max-width: 1200px;
        margin: auto;
    }

    .hero,
    .hero-overlay,
    .hero img {
        height: 600px;
    }


    .collection-group {
        -ms-overflow-style: initial;
        scrollbar-width: initial;
        gap: 32px;
    }

    .collection-group::-webkit-scrollbar {
        display: initial;
    }

    .collection-card {
        width: 200px;
    }
    .card-image_container{
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 8px;
    }

    .card-image {
        height: 200px;
        width: 200px;
        transition: transform .5s ease;
    }

    .card-image_container:hover .card-image {
      transform: scale(1.2);
    }
}