* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    list-style: none;
}

header {
    padding: 16px 16px 0;
}

nav {
    position: relative;
}

.nav-overlay {
    width: 120px;
    height: 100%;
    right: 0;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
}

nav ul {
    display: flex;
    gap: 8px;
    padding: 16px;
    overflow: scroll;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav ul::-webkit-scrollbar {
    display: none;
}

nav ul li {
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 12px;
    white-space: nowrap;
}

.hero {
    height: 400px;
    position: relative;
}

.hero-overlay {
    height: 400px;
    width: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
}

.hero-info {
    position: absolute;
    bottom: 32px;
    left: 24px;
    color: white;
    z-index: 1;

}

swiper-container {
    width: 100%;
    height: 400px;
    position: relative;
}

swiper-slide img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

span.swiper-pagination-bullet {
    background-color: #fff !important;
}

:host {
    --swiper-theme-color: #fff !important;
}

span.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.plan-collection {
    padding-left: 16px;
    margin-top: 40px; 
}

.collection-title {
    margin-bottom: 16px;
    /* border-left: 4px rgb(255, 204, 0) solid; */
    padding-left: 8px;
    font-size: 20px;
}

.collection-title::before {
    content:"";
    display: inline-block;
    width: 4px;
    height: 16px;
    margin: 0 2px -1px 0;
    background: rgb(255, 204, 0);
}

.collection-group {
    display: flex;
    gap: 16px;
    padding-right: 16px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.collection-group::-webkit-scrollbar {
    display: none;
}

.collection-card{
    width: 35vw;
}

.card-image{
    height: 35vw;
    width: 35vw;
    object-fit: cover;
    border-radius: 8px;
}

.card-title{
    font-size: 14px;
}
